$primary-color: #0C044C;
* {
    margin: 0;
    padding: 0;
    background: #E0E0E0;
    font-family: "Montserrat";
}
body {
    margin: 5px;
    padding: 5px;
    height: 100vh;
    display: flex; 
}

.layout {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    grid-template-rows: repeat(auto, minmax(100px, 1200px));
    grid-template-areas: 
    "aside-a main aside-b";
    justify-content: center;
    align-items: center;
    position: relative;
}
    
.template {
    color: gray;
    text-align: center;
}

.aside-a {
    grid-area: aside-a;
    color: $primary-color;
    padding-left: 10px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.main {
    // border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: main;
    height: 100vh;
}

.books {
    width: 100%;
    // border-right: 1px solid $primary-color;;
    display: grid;
    grid-template-rows: auto;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 80px;
    list-style-type: none;

    &__book {
        padding-top: 10px;
        border-bottom: 1px solid $primary-color;
        min-height: 167px;
        max-height: 167px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "image info";
        
        img {
            grid-area: image;
            width: 100px;
        }

        &-info {
            grid-area: info;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        i {
            display: flex;
            font-size: 30px;
            justify-self: center;
            align-self: center;
            position: relative;
            right: -125px;
            bottom: 80px;
            border: 0;
            color: $primary-color;

            &:hover{
                cursor: pointer;
                transform: scale(1.4);
            }
        }
        
    }
}


.aside-b {
    grid-area: aside-b;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; 
    box-sizing: border-box; 
    height: 100vh;
}

.form {
    width: 530px;
    height: 580px;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-content: center; 
    position: relative;
    border-left: 1px solid$primary-color;

    input {
        margin-top: 10px;
        outline: 0;
        border: 0;
        border-bottom: 2px solid $primary-color;
        width: 255px;
        padding-bottom: 10px;

        &::placeholder {
            font-size: 17px;
        }
    }

    select {
        border: 0;
        outline: 0;
        border-bottom: 2px solid $primary-color;
        font-size: 17px;
        padding-bottom: 10px;
        cursor: pointer;
    }

    button {
        background: $primary-color;
        padding: 15px;
        border-radius: 50px;
        color: white;
        border: 0;
        outline: 0;
        cursor: pointer;

        &:hover {
            background: #3221B5;
        }
    }

    &__incomplete {
        position: absolute;
        bottom: 67px;
        font-size: 14px; 
        color: red;
        display: block;
        animation: hideMsg 10s forwards;
    }

    &__complete {
        position: absolute;
        bottom: 67px;
        font-size: 14px; 
        color: green;
        display: block;
        animation: hideMsg 10s forwards;
    }
}



.stocked {
    font-size: 8px;
    width: 60px;
    background: #238100;
    color: white;
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.notStocked {
    font-size: 8px;
    width: 60px;
    background: red;
    color: white;
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.title {
    color: $primary-color;
    font-family: "IM Fell English";
    font-size: 24px;
}

.author {
    font-size: 16px;
    font: "Charm";
}

.price {
    color: $primary-color;
    font: "Charm";
    font-size: 20px;
    font-weight: 500;
}

@keyframes hideMsg {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.popUp {
    height: 600px;
    width: 500px;
    padding: 0 20px;
    background: #fff;
    position: absolute;
    justify-self: center;
    align-self: center;
    box-shadow: 5px 5px 5px black;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: 
    "header"
    "info"
    "button";
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    line-height: 20px;
    z-index: 9999;
    opacity: 0; /* Initially set to transparent */
    transition: opacity 1s ease-in-out;

    &__header {
        background: #fff;
        grid-area: header;
        justify-self: center;
        align-self: center;
        font-size: 20px;
        letter-spacing: 25px;
    }

    &__info {
        text-align: center;
        font-size: 14px;
        background: #fff;
        grid-area: info;
        height: 100%;
        line-height: 30px;
        
        strong {
            background: none;
        }
    }

    button {
        background: #0C044C;
        grid-area: button;
        width: 200px;
        justify-self: center;
        align-self: center;
        padding: 15px;
        position: absolute;
        bottom: 30px;
        border-radius: 20px;
        color: #fff;
        border: 0;
        outline: 0;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

