$primary-color: #452727;
$sec-color : #2C395E;
$third-color : #E0E0E0;

html, body {
    margin: 0;
    background: linear-gradient(135deg, $sec-color, $third-color);
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    font-family: "Comfortaa";
}

body {
    // border: 2px solid red;
    padding: 0;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout {
    // border: 2px solid blue;
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "header"
    "main";
}

.header {
    // border: 2px solid green;
    grid-area: header;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 2px solid $third-color;

    p {
        font-size: 50px;
        color: $third-color;
        font-weight: 600;
    }

    button {
        position: absolute;
        right: 40px;
        bottom: 20px;
        width: 200px;
        padding: 15px;
        border-radius: 30px;
        background: $third-color;
        color: $primary-color;
        border: 0;
        outline: 0;
        font-family: "Comfortaa";
        cursor: pointer;

        &:hover {
            transform: scale(1.3);
        }
    }
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bookList{
    // border: 2px solid pink;
    display: grid;
    grid-auto-flow: column;
    max-width: 1305px;
    overflow-x: auto;
    justify-content: start;
    align-items: center;
    gap: 45px;
    list-style-type: none;
    padding-left: 20px;
    padding-bottom: 0;
    margin-bottom: 0;

    li {
        // border: 2px solid white;
        padding: 0px 35px;
        margin: 40px 0px;
        height: 600px;
        width: 450px;
        background: $third-color;
        box-shadow: 0px 5px 5px black;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "img"
        "info";

        img {
            grid-area: img;
            width: 200px;
            align-self: center;
            justify-self: start;
        }

        i{
            font-size: 25px;

            &:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
        }

    }  
     
    &__info{
        padding: 0;
        border-top: 2px solid $primary-color;
        grid-area: info;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $primary-color;
    }

}

.pop-up {
    border: 2px solid $primary-color;
    height: 600px;
    width: 450px;
    position: absolute;
    display: grid;
    grid-auto-flow: row;
    justify-self: center;
    align-items: center;
    bottom: 50px;
    background: $sec-color;
    border-radius: 30px;
    z-index: 5;
    opacity: 95%;
    text-align: center;

}
#exit {
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 25px;
    cursor: pointer;
    color: #fff;

    &:hover {
        transform: scale(1.2);
    }
}

.form {
    // border: 2px solid $primary-color;
    display: grid;
    grid-auto-flow: row;
    gap: 7px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
    input, select {
        text-align: center;
        height: 50px;
        width: 350px;
        background: none;
        border: 0;
        border-bottom: 2px solid $primary-color;
        font-family: "Comfortaa";
        letter-spacing: 5px;
        color: #fff;

        &::placeholder {
            color: #c1c1c1;
        }
    }

    select, option {
        cursor: pointer;
    }


    button {
        height: 50px;
        width: 350px;
        background: $primary-color;
        color: $third-color;
        border-radius: 50px;
        border: 0;
        outline: 0;
        font-family: "Comfortaa";
        letter-spacing: 5px;
        cursor: pointer;
        
        &:hover {
            transform: scale(1.1);
            background: #443939;
        }
    }
}

.hidden {
    display: none;
}

.incomplete {
    position: absolute;
    color: red;
    animation: hideMsg 5s forwards;
    left: 40px;
}

.complete {
    color: yellowgreen;
    animation: hideMsg 5s forwards;
    position: absolute;
    right: 580px;
    top: 150px;
    font-weight: 800;
    font-size: 30px;
}

.stocked {
    border: 2px solid black;
    padding: 10px;
    background: yellowgreen;
    border-radius: 10px;
    width: fit-content;
    border: 0;
    outline: 0;
    color: #fff;
    text-align: center;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.notStocked {
    border: 2px solid black;
    padding: 10px;
    background: red;
    border-radius: 10px;
    width: fit-content;
    border: 0;
    outline: 0;
    color: #fff;
    text-align: center;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

@keyframes hideMsg {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.title {
    font-family: "IM Fell English";
    font-size: 25px;
}

.template {
    color: #fff;
}